
<div class="container data-wrapper">
    <div class="row data-header">
        <div class="col-md-6">
            <div class="Data-title">Data search</div>
        </div>
        <div class="col-md-6">
            <div class="data-menu">
                <ul class="nav nav-pills data-menu pull-right">
                    <li role="presentation"><a [router-link]="['/DataList']" href="#">DisplayData</a></li>
<!--                    <li role="presentation"><a [router-link]="['/About']" href="#">About</a></li>
                    <li role="presentation"><a [router-link]="['/DataForm']" href="#">Add Data</a></li>-->
                </ul>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>

</div>